Source: zerosdr
Section: hamradio
Priority: optional
Maintainer: Weiming Feng <bestedwin@gmail.com>
Build-Depends: debhelper (>= 10), cmake, librtlsdr-dev, libc6-dev
Standards-Version: 4.1.3

Package: zerosdr
Architecture: armhf
Depends: ${shlibs:Depends}, ${misc:Depends}, librtlsdr0
Description: Lightweight SDR interface for Raspberry Pi
 A graphical SDR application optimized for small SPI displays
 on Raspberry Pi. Supports RTL-SDR devices and provides
 spectrum and waterfall visualization.
